.button {
  border-radius: var(--radius-sm);

  .mantine-Button-section {
    visibility: hidden;
  }
}

.disabled {
  opacity: 0.5;
  cursor: inherit;
}

.primary {
  background: var(--brand-primary);
  color: var(--static-white);
}

.secondary {
  background: var(--background-primary);
  color: var(--vibrancy-foreground-primary);
  border-color: var(--border);
}

.danger {
  background: var(--danger-primary);
  color: var(--static-white);
}

.text {
  background: transparent;
  color: var(--vibrancy-foreground-primary);
}

.small {
  height: var(--size-lg);
  padding: 0 var(--spacing-sm);
}

.regular {
  height: var(--size-xl);
  padding: 0 var(--spacing-md);
}

.large {
  height: var(--size-xxl);
  padding: 0 var(--spacing-lg);
}

.stretched {
  width: 100%;
}